# Generating formatted toy dataset

In [1]:
import pandas as pd

file_name = 'toy/toy_processed.csv'

df = pd.read_csv(file_name)
df

,s7,s8,s9,s10,s11,s12,s13,s14,s15,s16,...,sin_dt_day,cos_dt_day,sin_dt_month,cos_dt_month,seller_id,accept_city,receiver_county,pay_hour,date,total_cost
0,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,10.0,...,0.988468,0.151428,0.500000,0.866025,492,25,3,21,20210107,62
1,0.09,0.13,0.44,0.08,0.22,0.03,0.01,0.0,0.00,10.0,...,0.988468,0.151428,0.500000,0.866025,68,17,2,19,20210107,65
2,0.00,0.00,0.99,0.00,0.00,0.00,0.00,0.0,0.00,11.0,...,0.988468,0.151428,0.500000,0.866025,312,36,1,6,20210107,98
3,0.60,0.00,0.00,0.00,0.00,0.40,0.00,0.0,0.00,8.0,...,0.988468,0.151428,0.500000,0.866025,371,13,0,12,20210107,48
4,0.00,0.00,0.00,0.63,0.00,0.00,0.35,0.0,0.03,9.0,...,0.988468,0.151428,0.500000,0.866025,509,70,3,15,20210107,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5649,0.28,0.15,0.00,0.00,0.00,0.00,0.57,0.0,0.00,10.0,...,-0.433884,-0.900969,0.866025,0.500000,55,4,2,14,20210216,94
5650,0.00,0.00,0.29,0.00,0.62,0.08,0.00,0.0,0.00,10.0,...,-0.433884,-0.900969,0.866025,0.500000,49,18,3,17,20210216,114
5651,0.02,0.00,0.17,0.00,0.00,0.64,0.16,0.0,0.00,9.0,...,-0.433884,-0.900969,0.866025,0.500000,254,17,2,13,20210216,70
5652,0.28,0.64,0.00,0.08,0.00,0.00,0.00,0.0,0.00,11.0,...,-0.433884,-0.900969,0.866025,0.500000,236,70,3,16,20210216,116
5653,0.00,0.00,0.72,0.00,0.00,0.00,0.16,0.0,0.11,13.0,...,-0.433884,-0.900969,0.866025,0.500000,669,68,0,20,20210216,86

In [11]:
import numpy as np
r_len = df.shape
fixed_values_len = 4+2
random_data = np.random.rand(r_len[0], r_len[1]-fixed_values_len)
random_data

array([[0.17437714, 0.97884653, 0.81684111, ..., 0.84435579, 0.67108313,
        0.43324742],
       [0.61255577, 0.75667149, 0.25752307, ..., 0.80302069, 0.91370561,
        0.32351527],
       [0.5293444 , 0.88412011, 0.12225327, ..., 0.3526086 , 0.93890107,
        0.61826974],
       ...,
       [0.70690275, 0.11264243, 0.66061391, ..., 0.15893141, 0.18278152,
        0.22901076],
       [0.30892384, 0.3990308 , 0.8460992 , ..., 0.28605914, 0.35669467,
        0.90900908],
       [0.45931174, 0.55814707, 0.5521327 , ..., 0.72393496, 0.39980654,
        0.67857201]])

In [19]:
df.iloc[:, :r_len[1]-fixed_values_len] = random_data
df

,s0,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,sin_dt_day,cos_dt_day,sin_dt_month,cos_dt_month,seller_id,accept_city,receiver_county,pay_hour,date,total_cost
0,0.174377,0.978847,0.816841,0.193961,0.311755,0.185611,0.798258,0.359911,0.886627,0.928047,...,0.839584,0.844356,0.671083,0.433247,492,25,3,21,20210107,62
1,0.612556,0.756671,0.257523,0.246581,0.375680,0.279466,0.351795,0.055219,0.530708,0.805611,...,0.110430,0.803021,0.913706,0.323515,68,17,2,19,20210107,65
2,0.529344,0.884120,0.122253,0.589635,0.545697,0.760050,0.781729,0.961831,0.902134,0.718358,...,0.613804,0.352609,0.938901,0.618270,312,36,1,6,20210107,98
3,0.603995,0.008713,0.215174,0.399989,0.075998,0.252085,0.395141,0.940637,0.341507,0.454430,...,0.628216,0.668409,0.892091,0.903042,371,13,0,12,20210107,48
4,0.505599,0.539082,0.116734,0.422988,0.064405,0.605025,0.639055,0.499549,0.671457,0.774267,...,0.352190,0.256860,0.836845,0.879006,509,70,3,15,20210107,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5649,0.215297,0.725874,0.006434,0.146947,0.831551,0.317150,0.832059,0.209995,0.436773,0.577442,...,0.927395,0.072320,0.309442,0.808634,55,4,2,14,20210216,94
5650,0.843939,0.078931,0.593796,0.771156,0.674141,0.349785,0.060890,0.419681,0.515114,0.402262,...,0.044486,0.575327,0.012841,0.717923,49,18,3,17,20210216,114
5651,0.706903,0.112642,0.660614,0.959499,0.246739,0.913504,0.837985,0.662698,0.995387,0.487442,...,0.814824,0.158931,0.182782,0.229011,254,17,2,13,20210216,70
5652,0.308924,0.399031,0.846099,0.367885,0.289748,0.419646,0.427234,0.112887,0.076994,0.356250,...,0.288397,0.286059,0.356695,0.909009,236,70,3,16,20210216,116
5653,0.459312,0.558147,0.552133,0.100698,0.230174,0.458707,0.954591,0.854526,0.889164,0.363909,...,0.257267,0.723935,0.399807,0.678572,669,68,0,20,20210216,86

In [20]:
df.to_csv(file_name, index=False)